### Problem 1. (20 points)
Call a number n cube-summable if it can be expressed as a sum of distinct positive perfect cubes. So,
the number 9 is cube-summable since 9 = 13 + 23, but the number 2 is not. In this coding assignment you have to find out how many cube-summable numbers are there between 1 and a million?

##### a. In your pdf file/iPython notebook, clearly write down how the above problem is a special case of the SUBSETSUM problem. So in particular, you have to write what the a1, a2, . . . , an’s are, how many (the n) of them there are, and what the target B is, which will allow you to answer this question. (5 points)

This is a special case of the subsetsum problem because we are trying to find all of the possible subsets that sum to less than 1 million. 


Our input will be the cube of positive integers 1, 2, ... 100. So, a1 = 1^3, a2 = 2^3, .... an = 100^3. There will be one hundered terms (n = 100) because 100^3 = 1,000,000, so no greater number can be added without us exceeding our sum. 


This differs from the original subsetsum problem because as opposed to there being one single target integer, our target all values less than 1 million. 


(In theory, we will modify the existing subset sum algorithm to check if it is less than B, and then increment a counter each time it is).

###### b. Implement the dynamic programming algorithm for SUBSETSUM problem, and use your above argu- ment to find the number of cube-summable numbers among the first million numbers (inclusive). (15 points)

In [97]:
'''
PREPROCESSING:
create array of cubes of integers from 1 to 100.
'''

# allocate space in empty array
Array = [0] * 100
# for all numbers i 1 to 100, find i^3.
for i in range(0,100):
    Array[i] = (i+1)*(i+1)*(i+1);
print(Array)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [5]:
# PROCEEDURE

import numpy as np
import math

##### ASSUMPTION: this code assumes numbers composed of a single term cubed 
#### are n cube-summable (i.e. 27 is n-cube summable,  becuase 3^3 = 27.)

''' 
input: array of cubes of positive integers 1 to 100
output: number of possible subsets < 1,000,000
'''
def SubSetCount(A, B):
    
    # based on B, figure out how many terms are in input array
    n = math.floor((B + 1)**(1/3))
    F = np.zeros((n, B + 1))

    # deal with basecases
    for m in range(n):
        F[m, 0] = 1

    # count number where the value is being 
    for m in range (n):
        for b in range (1, B + 1):
            if (b - A[m] < 0):
                F[m, b] = F[m - 1,b]
            else:
                F[m, b] = max(F[m -1, b], F[m -1, b - A[m]])
    
         
               
    # RECOVERY
    # want to count the number of 1s on the bottom row, because those represent integers 
    # that can be reached by some combination of cubeable numbers. 
    # initialize variable to store number of possible integers to be reached
    numPossible = 0
    for i in range (B):
        if (F[n-1, i] == 1):
            numPossible = numPossible + 1
    
    return numPossible
    
    # these integers are all guaranteed to be 1,000,000 or less, because we are not checking
    # if we can reach any sum greater than 1,000,000.

In [103]:
SubSetCount(Array, 1000000)

997212

###### Now that you have coded everything up, hopefully you can easily find the number of cube-summable numbers among the first half a million. Do you note something interesting? If you do, write this down as well.

In [3]:
# allocate space in empty array
Array2 = [0] * 79
# for all numbers i 1 to 100, find i^3.
for i in range(0,79):
    Array2[i] = (i+1)*(i+1)*(i+1);
print(Array2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039]

In [6]:
SubSetCount(Array2, 500000)

497212

It is very close to half of the number of cube-summable numbers among a million. It is only ~1000 off. This is suprising considering how large the numbers are...

*********Curiously, if we graph it:

### Problem 2. (25 points)

As in Coding Assignment 1, for a positve integer n, define An to be the array of single-digit non-negative
integers containing the first n digits of π. So A1 = [3], A2 = [3, 1], and so on. You have to write code which takes input n and finds the length of the longest increasing subsequence in An.

a. Implement the O(n2) time algorithm for LIS. Use this to return the length of an LIS of A10000, that is, the length of an LIS among the first 10,000 digits of π? Does this code return the length of an LIS of A1000000? If so, how long did it take? (15 points)

b. Implement the O(n log n) time algorithm for LIS. Use this to return the length of an LIS of A1000000, that is, the length of an LIS among the first million digits of π? How long did this take? (10 points)

In [17]:
import matplotlib
import pandas as pd

df = pd.DataFrame(columns=['limit', 'numberCubSummable'], index=range(1, 1000))

df.head()
for i in range (1, 10000, 1000):
    df.limit[i] = i
    df.numberCubeSummable[i] = SubSet

  limit numberCubSummable
1   NaN               NaN
2   NaN               NaN
3   NaN               NaN
4   NaN               NaN
5   NaN               NaN

In [19]:
df.limit[1]= 7
df.head()

  limit numberCubSummable
1     7               NaN
2   NaN               NaN
3   NaN               NaN
4   NaN               NaN
5   NaN               NaN